@{
    Test_Gastos.Models.UserToken Usuario = new Test_Gastos.Models.UserToken(Context.User);
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GASTOS</title>
    <partial name="_Styles" />
    @await RenderSectionAsync("Head", required: false)
</head>
<body data-theme="Usuario.Tema" style=" height: 100%;background-repeat: no-repeat;background: url('../img/background/portada-panel-pc.jpg') no-repeat center center fixed;background-size: 100% 100%;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xxl-2 col-xl-2 col-lg-3 col-md-3 col-sm-5 col-5 p-0 m-0 d-none d-md-block d-lg-block d-xl-block d-xxl-block shadow-sm bg-primary">
                <partial name="_Layout.Menu" />
            </div>
            <div class="col-xxl-10 col-xl-10 col-lg-9 col-md-9 col-sm-7 col-12 d-block d-sm-none mb-5">
                <partial name="_Layout.MenuMovil" />
            </div>
            <div class="col-xxl-10 col-xl-10 col-lg-9 col-md-9 col-sm-7 col-12 pt-3 pt-md-4">
                @RenderBody()
            </div>
        </div>
    </div>
    <partial name="_Scripts" />
    <partial name="_Alert" />
    <partial name="_Toast" />
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>