@model Test_Gastos.Models.ErrorViewModel
@{
    Layout = "_Layout.Login";
    ViewData["Title"] = "Error";
}

<h1 class="text-danger"><i class="fad fa-exclamation-circle"></i></h1>
<h2 class="text-danger">Ha ocurrido un error al procesar tu solicitud.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Evento </strong> <code>@Model.RequestId</code>
    </p>
}
