@font-face {
    font-family: "Oriflame";
    src: local('Oriflame Sans Print'), url('../fonts/OriflameSansPrint-Regular.ttf') format('truetype');
}

@font-face {
    font-family: "Oriflame-Bold";
    src: local('Oriflame Sans Print'), url('../fonts/OriflameSansPrint-Bold.ttf') format('truetype');
}

body {
    font-family: Oriflame, Calibri;
}

.fw-bold {
    font-family: "Oriflame-Bold";
}

.text-dark {
    color: var(--oriflame-gray-dark);
}
