/*Init SWAL Update*/
.sweet-alert .confirm {
    color: var(--bs-light);
    background-color: var(--bs-primary) !important;
}

.sweet-alert .cancel {
    color: var(--bs-light);
    background-color: var(--bs-secondary) !important;
}

/*Default Font*/
html, body {
    font-family: Calibri !important;
    /*color: var(--bs-gray);*/
}

body {
    background:red;
    /*background: rgb(9,9,121);*/
    /*background: linear-gradient(90deg, rgba(9,9,121,1) 0%, rgba(88,86,129,1) 0%, rgba(141,215,242,1) 97%);*/
    background: white;
}
/*
body {
    background-image: url(../img/background/fondo2.jpg);
    background-size: cover;
    background: rgba(255, 255, 255, .)
}
*/
/*Reset*/
a {
    color: var(--bs-primary);
}

p {
    margin: 0;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 600;
}

ul, ol {
    list-style: none;
}
/*Loader*/
.loader {
    display: none;
    position: fixed;
    z-index: 10000;
    background-color: rgba(0,0,0,0.5);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

    .loader::before {
        content: 'Espere un momento';
        position: absolute;
        width: 100%;
        display: block;
        top: calc(50% + 1.5em);
        text-align: center;
        opacity: 0.5;
        color: #fff;
    }

    .loader::after {
        content: '';
        position: absolute;
        height: 5em;
        width: 5em;
        display: block;
        background-image: url('../img/spinner.svg');
        background-size: contain;
        background-repeat: no-repeat;
        top: calc(50% - 2.5em);
        left: calc(50% - 2.5em);
    }

/*Modal*/
.modal-backdrop.show {
    opacity: 0.9;
}

.modal-body .btn-close {
    position: fixed;
    right: 1em;
    top: 1em;
}
/*Tables*/
.table-striped > tbody > tr:nth-of-type(odd), .table-striped > tbody > tr:nth-of-type(odd), .table-striped tbody tr.odd td, .table-striped tbody tr.odd th {
    background: rgba(var(--bs-primary-rgb), .15) !important;
}

.table > thead > tr > td, .table > thead > tr > th {
    background: var(--bs-primary);
    color: var(--bs-light);
}
/*Cards*/
.card {
    border: none;
    box-shadow: rgb(0 0 0 / 8%) 0 0 0.25rem 0 !important;
}

    .card > .card-logo {
        position: absolute;
        content: '';
        height: 350px;
        width: 300px;
        /*background-image: url(../img/logos/logo_car.png);*/
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        top: -210px;
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    .card > .card-header {
        background-color: var(--bs-primary);
    }

    .card.card-transparent {
        background: rgba(255,255,255,.25);
    }
/*Personalize*/
.center-login {
    height: 100vh;
    display: grid;
    align-content: center;
}
/* Personalize GJ menu*/
.imgLogo {
    width: 90%;
}

.alignImgLogo {
    display: flex;
    justify-content: center;
}

.profile {
    display: flex;
}

    .profile img {
        height: 5em;
        width: 5em;
        border-radius: 50%;
        object-fit: cover;
        object-position: center;
    }

.userImg {
    width: 5em;
}

.cardUser {
    display: flex;
    flex-wrap: nowrap;
}

.cardUserImg {
    display: flex;
    justify-content: center;
}

    .cardUserImg img {
        width: 55px;
        height: 55px;
    }

.userInfo {
    display: flex;
    flex-direction: column;
}

.userDepto {
    font-weight: 400;
}

.cardMenu {
    min-height: 100vh;
    border-radius: 0px;
}

.page-item.active .page-link {
    color: var(--bs-dark);
    border-color: var(--bs-dark);
    background-color: transparent !important;
}

.pagination .page-link {
    color: var(--bs-dark);
    border-color: var(--bs-dark);
    background-color: transparent !important;
}

.dataTables_filter {
    display: none;
}

#accordionMenu {
    max-height: calc(100vh - 250px);
    overflow-y: auto;
}

#accordionMenuFooter {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.air-datepicker-global-container {
    z-index: 1090;
}

iframe {
    height: calc(100vh - 12.5em) !important;
    background-image: url('../img/spinner.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.modal-content {
    background: transparent;
    border: none;
}

.accordion-button::after {
    filter: invert();
}

.list-group-item-action.active {
    background-color: rgba(var(--bs-secondary-rgb),0.5) !important;
}
/*CHECKBOX & RADIO*/
.radio, .checkbox {
    margin: 0.1em 0.5em
}

    .checkbox label:after,
    .radio label:after {
        content: '';
        display: table;
        clear: both;
    }

    .checkbox .cr,
    .radio .cr {
        position: relative;
        display: inline-block;
        border: 1px solid #D1D1D1;
        background: white;
        width: 20px;
        height: 20px;
        float: left;
        margin-right: 5px;
    }

    .radio .cr {
        border-radius: 50%;
    }

        .checkbox .cr .cr-icon,
        .radio .cr .cr-icon {
            position: absolute;
            left: -1px;
            top: -1px;
            width: 20px;
            height: 20px;
            background-image: url('../img/checkbox.png');
            background-size: 50%;
            background-position: center;
            background-repeat: no-repeat;
            overflow: hidden;
        }
        /*.radio .cr .cr-icon {
            background-image: url('../img/radio.png');
        }*/

        .radio .cr .cr-icon {
            border-radius: 50%;
        }

    .checkbox label input[type="checkbox"],
    .radio label input[type="radio"] {
        display: none;
    }

        .checkbox label input[type="checkbox"] + .cr > .cr-icon,
        .radio label input[type="radio"] + .cr > .cr-icon {
            transform: scale(2);
            opacity: 0;
            transition: all .1s ease-in;
        }

        .checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
        .radio label input[type="radio"]:checked + .cr > .cr-icon {
            transform: scale(1);
            opacity: 1;
            background-color: var(--bs-primary);
        }

        .checkbox label input[type="checkbox"]:disabled + .cr,
        .radio label input[type="radio"]:disabled + .cr {
            opacity: .5;
        }

.tableContainer {
    max-height: calc(100vh - 200px);
    overflow-y: hidden;
}

.has-error .bootstrap-select .dropdown-toggle, .error .bootstrap-select .dropdown-toggle, .bootstrap-select.is-invalid .dropdown-toggle, .was-validated .bootstrap-select select:invalid + .dropdown-toggle {
    border-width: 3px;
}

.tableThL2 {
    background: var(--bs-primary-dark) !important;
}

.modal-fullscreen {
    width: 100%;
    max-width: none;
    height: 100%;
    margin: 0;
}

    .modal-fullscreen .modal-content {
        height: 100%;
        border: 0;
        border-radius: 0;
    }