@model Test_Gastos.Models.LoginViewModel
@{
    Layout = "_Layout.Login";
    ViewData["Title"] = "Cambio de Contraseña";
    Test_Gastos.Models.UserToken Usuario = new Test_Gastos.Models.UserToken(Context.User);
}
<form method="post" asp-action="ResetPassword">
    <div class="center-login">
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3 col-lg-4 offset-lg-4">
                <div class="row">
                    <div class="col-12 col-md-8 offset-md-2">
                        <div class="card">
                            <div class="card-header">
                                <p class="text-white m-0 p-0 fw-bold">Cambio de Contraseña</p>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12 mt-2">
                                        <div class="form-floating">
                                            <input type="password" class="form-control text-center" asp-for="password" placeholder="Nueva Contraseña" required>
                                            <label for="floatingPassword">Nueva Contraseña</label>
                                        </div>
                                    </div>
                                    <div class="col-12 mt-2">
                                        <div class="form-floating">
                                            <input type="password" class="form-control text-center" name="confirmacion" id="confirmacion" placeholder="Confirmación de Contraseña" required>
                                            <label for="floatingPassword">Confirmación de Contraseña</label>
                                        </div>
                                    </div>
                                    <div class="col-12 mt-2 text-center">
                                        <button type="submit" class="btn btn-primary">
                                            Cambiar Contraseña
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>