<div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">        
        <div class="card">
            <div class="card-body shadow">
                <div class="dx-viewport demo-container">
                    <div id="Chart1"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
        <div class="card">
            <div class="card-body shadow">
                <div class="dx-viewport demo-container">
                    <div id="Chart2"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="col-12 mt-2">
            <div class="card">
                <div class="card-body shadow">
                    <div class="dx-viewport demo-container">
                        <div id="Chart3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

